:root {
  --color-primary: #fff;
  --color-secondary: #52b7ff;
  --color-tertery: #7e8b9a;
  --color-forth: #2b2d42;
  --color-fifth: #f1f1f1;
  --color-sixth: #387fb3;
  --bs-primary-hover-bg: #4091cc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
img {
  width: 100%;
  border-radius: 7px;
}
li {
  list-style: none;
}
.connect a,
.register a {
  color: var(--color-secondary);
}

a {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a:hover {
  color: var(--color-tertery);
}
main {
  display: flex;
  flex-direction: column;
}

.connect {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  padding: 30px;
}
.login-img {
  width: 80%;
  margin: 2.8125rem auto;
}

.connect__header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.867rem;
  margin: 0.875rem;
}
.connect__para {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.575rem;
  margin-bottom: 0.875rem;
}

.register {
  padding: 1.7rem;
  text-align: center;
  max-width: 566px;
  align-self: center;
  margin: 0 auto;
}

.register__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.register__logo svg {
  color: var(--color-secondary);
}
.register__logo span {
  color: var(--color-forth);
  font-size: 1.2132rem;
  font-weight: 500;
  line-height: 1.2132rem;
}
.register > p {
  padding: 2rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.form {
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form label {
  color: var(--color-forth);
  font-weight: 700;
  text-align: left;
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.form__item input {
  outline: none;
  border: var(--color-fifth) 1px solid;
  padding: 0.65625rem;
  color: var(--color-tertery);
}
.form__item input:focus {
  border: var(--color-secondary) 1px solid;
}
.form__btn {
  padding: 0.7rem 0.65625rem;
  font-size: 0.77625rem;
  font-weight: 600;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  transition: all 0.1s ease-in-out;
}
.form__btn:hover {
  background-color: var(--color-sixth);
}
.form__redirect {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-forth);
  margin-top: 1.75rem;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    height: 100vh;
    align-items: center;
  }
  main section {
    flex-basis: 50%;
  }
  .connect {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .connect .connect__login-img {
    height: 40%;
    margin-bottom: 1rem;
  }
  .connect .connect__login-img img {
    height: 100%;
    object-fit: cover;
  }

  .connect__header {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .connect__para {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 40rem;
    margin: 0 auto;
  }
  .form {
    gap: 30px;
  }

  .register__logo span {
    color: var(--color-forth);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2132rem;
  }
  .register > p {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/* ********************************************** */
:root {
  --color-bg: rgb(26, 25, 31);
  --color-bg-two: rgb(33, 37, 41);
  --color-text: #fff;
  --color-text-two: rgb(249, 171, 0);
  --transition: all 0.1s ease-in-out;
}
body {
  color: var(--color-bg);
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.navbar-home {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 1rem 0;
}
.navbar-home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__links,
.navbar__auth {
  display: flex;
}
.navbar-home a {
  color: var(--color-text);
}
.navbar__links a {
  padding: 0 1rem;
  transition: var(--transition);
}
.navbar__links a:hover {
  color: var(--color-text-two);
}
.bg {
  background-image: url("https://i.etsystatic.com/35367581/r/il/6e6d9d/5873534503/il_fullxfull.5873534503_bfj5.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  filter: blur(1px);
  z-index: -1;
}
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0.99;
  background-size: 100% 100%;
  background-color: var(--color-bg);
}
.navbar__auth {
  display: flex;
  align-items: center;
  gap: 10px;
}
#search-input {
  outline: none;
  border: none;
  color: var(--color-bg);
  padding: 4px 16px;
  border-radius: 15px;
  width: 8rem;
  background-color: #b7b7b7;
  transition: var(--transition);
  transition-duration: 0.3s;
}
#search-input:focus {
  background-color: #fff;
  width: 16rem;
}
#search:focus {
  box-shadow: 0px 0px 4px 2px var(--color-text-two);
}

.navbar__auth a:hover {
  color: var(--color-text-two);
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: 900;
}
main {
  position: relative;
}
main h2 {
  color: #fff;
}
.movies-container .container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  position: relative;
}
.movie {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 15px;
  color: white;
  max-width: 250px;

  position: relative;
  overflow: hidden;
}
.movie__image {
  overflow: hidden;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  transition: var(--transition);
  margin-bottom: 5px;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;

  position: absolute;
  bottom: 15px;
  left: 15px;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.92) 100%,
    rgba(0, 0, 0, 1) 0%
  );
  width: calc(100% - 30px);
  transform: translateY(110%);
  transition: var(--transition);
  transition-duration: 0.25s;
  padding: 10px;
  height: calc(100% - 30px);
}

.movie:hover .overview {
  transform: translateY(0%);
}
